<DIV align="center" style="width:100%">
	<DIV align="left" style="margin:5px;padding:5px;width:50%;overflow:auto;background-color:#fdbaba;border-style: solid; border-color: red; border-width: 1px">
		<span style="font-family:Arial,Helvetica,sans-serif;font-size:12px;">
		<b>Link New Issue Operation Plugin - Setup ERROR</b>
	</span>
	<br><br>
	<span style="text-decoration:underline ;">The following error happens :<br><br></span> 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$!action.errorMessage
	<br><br>
	</DIV>
</div>